<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form action="" method="post">
        <p>
	    <label for="username">Имя пользователя</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="password">Пароль</label>
	    <input type="password" name="password">
    </p>
    <p>
	    <label for="root">Права</label>
	    <input type="root" name="root">
    </p>
	<p>
	    <input type="submit">
	</p>
</body>
</html>